<!-- <v-card-title primary-title> -->
  <!-- <div>
    <h3 v-if="item.pt" class="title mb-0">{{ item.pt }}</h3>
    <p v-if="item.s" class="body-1">{{ item.s }}</p>
    <p class="caption grey--text">Width: {{ item.ow }}, Height: {{ item.oh}}</p>
    <p v-if="item.st" class="caption grey--text">Source: {{ item.st }}</p>
  </div> -->
  <!-- </v-card-title> -->
  <!-- <v-card-actions>
    <v-btn icon @click.native="toggleFav(item)" :class="{'fav-active': isFav(item.ou)}">
      <v-icon>favorite</v-icon>
    </v-btn>
    <v-btn icon @click.native.stop="share(item.ou)">
      <v-icon>share</v-icon>
    </v-btn>
    <v-btn icon :href="item.ou" target="_blank">
      <v-icon>get_app</v-icon>
    </v-btn>
    <v-btn icon :href="item.ru" target="_blank">
      <v-icon>open_in_new</v-icon>
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn v-if="item.rimg" @click.native="explore(item.rimg)" color="accent" flat>
      Explore
      <v-icon right>image_search</v-icon>
    </v-btn>
  </v-card-actions> -->